/* Google Fonts

// <weight>: Use a value from 100 to 700
// <uniquifier>: Use a unique and descriptive class name

.ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*/

/***** resets ******/

h1, h2, h3, h4, h5, h6, p, a, nav ul {
    margin: 0;
    padding: 0;
  }
       
body{
    background-color: #FBF4EC;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal; 
    box-sizing: border-box;    
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

/**** Header *****/

nav ul{
    position: fixed;
    width: 100%;
    top: 0px;
    list-style-type: none;
    display: flex;
    margin: 2vw auto;
    justify-content: center;
    align-items: center;
    gap: 3.33vw;
    z-index: 1;
  }

  nav ul li {
    a{
      text-decoration: none;
      border-radius: 3.33vw;
      border: 1px solid #000;
      border-width: 1px 2px 2px 1px;
      background: #FBF4EC;
      padding: 0.25em 1em;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 3vw;
      color: black;
    }
    .current{
      background:#2E2E2E;
      color: white;
    }
  }


/****** styling main ********/

main {
    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2.5vw;
    a:link{
      color: black;
    }
    a:visited{
      color: black;
    }
    h2{
      margin-bottom: 0.5em;
    }
    p{
      margin: 1em 0 1em 0;
    }
    .youtubeEmbed{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
      margin-bottom: 2em;
    }
    section{
      margin-bottom: 4em;
    }
    img{
      margin-bottom: 2em;
    }
}

.icon{
    max-height: 1.5em;
    display: inline;
    margin: 0;
    margin-right: 1em;
  }


.contact{
    a{
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 3vw;
      text-decoration: none;
    }
    display: flex;
    flex-direction: column;
    gap: 1em;
    div{
      display: flex;
    }
}

.seeMoreButton{
  text-align: center;
  a{
    text-decoration: none;
    border-radius: 3.33vw;
    border: 1px solid #000;
    border-width: 1px 2px 2px 1px;
    background: #FBF4EC;
    padding: 0.25em 1em;
  }
  margin-bottom: 2em;
}

.footnote {
    max-height: 2em;
}


/***** Footer Styling ******/

footer{
    background: #2E2E2E;
    padding: 3.33vw;
    display: flex;
    justify-content: space-between;
    color: white;

    ul{
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      li{
        margin-bottom: 0.5em;
      }
    }
    a{
        color: white;
    }
    p{
        margin-bottom: 0.5em;
    }
    .footnote{
      margin-bottom: 1em;
    }
    .contact{
        margin-bottom: 1em;
    }
}

/******** Homepage *********/

/* hiding images on mobile */

#heroContent #images{
    display: none;
}

#aboutMe img{
    display: none;
}

#aboutMe .icon{
    display: block;
}

#mobileBanner{
  margin-top: 4em;
  margin-bottom: 2em;
}

h3{
    font-weight: 400;
}

.block{
    margin: 0;
    padding: 3vw;
    border: 1px solid black;
    flex: 1;
    h4, p{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        }
}

/***** Projects landing page ******/

.horizontalCard img{
    padding-top: 1em;
}

/****** Case study article pages ******/
article{    
    h6{
      margin-bottom: 2em;
      padding-top: 1em;
    }

    p{
      margin-bottom: 1em;
    }

    section{
      margin-bottom: 2em;
    }

    blockquote{
      p{
        margin: 0;
      }
      display: flex;
      padding: 2em;
      border: 1px solid black;
      border-radius: 20px;
      margin: 2em 0 2em 0;
      .icon{
        max-height: 4em;
      }
    }

    ul{
      margin-bottom: 2em;
    }

    li{
      margin-bottom: 1em;
    }

    video{
      margin-bottom: 2em;
    }
}

.articleHeader{
  h1{
    margin-bottom: 0.25em;
  }
  h2{
    margin-bottom: 0.5em;
  }
  p{
    margin: 0;
    margin-bottom: 0.5em;
  }
  div{
    display: flex;
    flex-direction: column;
    div{
      display: flex;
      flex-direction: row;
      gap: 0;
    }
  }
  #hero{
    margin-top: 1em;
    margin-bottom: 2em;
  }
  }

/* Play Page */
#kdvsIllustration{
  img{
    margin: 0;
  }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 2em;
}

/*** Resume Accordion ***/
.accordion {
  padding: 8px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-color: #FBF4EC;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
}

hr{
  margin: 0;
}

.accordion p{
  margin: 0;
  font-weight: 600;
  margin: 12px 0 12px 0;
}

.accordion h6{
  margin: 0;
  font-weight: 400;
  margin: 12px 0 12px 0;
}

.active, .accordion:hover {
  background-color: #2E2E2E;
  color: white;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795';
  font-size: 16px;
  color: #2E2E2E;
  margin-left: 5px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.active:after {
  content: "\2796";
  color: white;
}

.education{
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  p{
    margin: 0;
  }
}

/***************** CLICKABLE IMAGES ********************

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal image */
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Close button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: #bbb;
}

/* Make clickable images have pointer cursor */
.clickable {
  cursor: pointer;
}
/***************** CLICKABLE IMAGES *********************/




/***************** DESKTOP STYLING *********************/
@media screen and (min-width: 600px) {
  .contact a{
    font-size: 1.2vw;
  }

  /* Text Styling */
  h1 {
    font-weight: 700;
    font-size: 5.4vw;
    margin-bottom: 0.5em;
  }

  h2 {
    font-weight: 700;
    font-size: 2.5vw;
    color: black;
  }

  h3 {
    font-size: 2.5vw;
  }

  h4 {
    font-weight: 700;
    font-size: 1.6vw;
  }

  h6 {
    font-weight: 700;
    font-size: 1vw;
  }

  p {
    font-weight: 400;
    font-size: 1.2vw;
  }


  /* Header Styling */
  nav ul li {
    a{
      border: 2px solid #000;
      border-width: 2px 5px 5px 2px;
      font-size: 1.2vw;
    }
    .current{
      background:#2E2E2E;
      color: white;
    }
  }

  main{
    margin-top: 5.4vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2.5vw;
  }


  /* Footer Styling */
  footer{
    display: flex;
    justify-content: space-between;
  }

  footer .contact{
    margin-bottom: 3.33vw;
  }

  #herosection{
  background-image: url('images/flowers.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -10vw;
  margin-top: -5.4vw;
  padding-bottom: 5.4vw;
  }

  #heroContent{
  padding-top: 5.4vw;
  text-align: end;
  h1{
    margin: 0;
    padding-top: 1em;
  }
  h3{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  }

  #heroContent img{
    display: inline;
    text-align: end;
  }

  #mobileBanner{
    margin: 0;
  }

  #aboutMe {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 2vw;
    margin: 2vw;
    margin-bottom: 5.4vw;
    #text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 4vw;
    }
  }

  #aboutMe img{
    display: block;
  }

  #cards{
    .block{
      padding: 1.2vw;
      p{
        font-size: 1.2vw;
      }
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.4vw;
    margin-top: 1.6vw;
  }

  /* Projects Page */

  .horizontalCard{
    display:grid;
    grid-template-columns: 5fr 7fr;
    margin-top: 2vw;
    margin-bottom: 2vw;
    div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 2vw;
    }
    img{
      padding: 0;
    }
  }

  /* Case Study Article Pages */
  article{
    margin: 5vw;
    
    h6{
      margin-bottom: 2em;
      padding-top: 1em;
    }

    p{
      font-size: 1.6vw;
    }

    .twoColumn{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 4em 0 4em 0;
      div{
        align-self: center;
      }
    }

    blockquote{
      margin: 4em 0 4em 0;
    }

    ul{
      font-size: 1.6vw;
    }
    ol{
      font-size: 1.6vw;
    }

    li{
      margin-bottom: 1em;
    }

    .seeMoreButton a{
      border: 2px solid #000;
      border-width: 2px 5px 5px 2px;
      font-size: 1.6vw;
      margin-bottom: 0;
    }

    /* DI Rebrand Case Study */

    table{
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2vw;
      color: black;
      th, td{
        padding: 1em;
      }

    }

    #oldBrandExamples{
      img{
        margin: 0;
      }
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1em;

      #slackFlyer{
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      }
      #recapPost{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
      #recruitmentPost{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
      .text{
        grid-row: 1 / 3;
        grid-column: 3 / 5;
        align-self: center;
        margin-left: 2em;
      }
    }

    #rebrandSample{
      img{
        margin: 0;
      }
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      margin-bottom: 4em;
      margin-top: 4em;
    }

    /* UHP Case Study */
    #studentQuotes{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-rule: 1px solid black;
      gap: 1.5em;
    }

    #printDesign{
      img{
        margin: 0;
      }
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      div{
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }

  /* Photography */
  .photoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  div{
    display: flex;
    flex-direction: column;
  }
}

}
